.navbar-brand {
    letter-spacing: 3px;
    color: #504945;
}

.navbar-brand:hover {
    color: #504945;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #504945;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #504945;
}

.navbar-scrolled {
    background-color: #ffede7;
}
